# Byte-compiled files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
*.egg

# Test and coverage
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db
